{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>App Demo | About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque soluta suscipit libero dolore dolor distinctio deserunt, a facilis perferendis, nesciunt nobis amet, praesentium quibusdam laboriosam ad natus doloremque quasi magni!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/img.png" class="img-thumbnail"></img>
    </div>
</div>



      

{{> footer }}